$colorwords: #7c067c;
$colorwords2: #eb3beb;
$colorwords3: #ffffff;
$colorbag: #ececc1;
$sizewords: 20px;
$spacing: 0.3px;
$padd: 2rem;


@mixin theme {
    background-color: $colorwords ;
    font-size: 1em;
    line-height: normal;
  }