@import "./variables";


* {
 @include theme
}

header {
  h1 {
    padding: $padd;
    background-color: $colorbag;
    font-family: fantasy;
    color: $colorwords2;
    text-align: center;
  }
}

main {
  h2 {
    font-size: $sizewords;
    color: $colorwords;
    text-align: center;
  }
  p {
    background-color: $colorbag;
    color: black;
    font-family: cursive;
    text-align: justify;
    &:hover {
      color: #eb3beb;
    }
  }
}

.button-basic  {
  border: none;
  padding: 15px 30px;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
}

.button-report  {
  @extend .button-basic;
  background-color: $colorbag;
  
}

footer{
  text-align: right;
  
  h3{
    color: $colorwords3;    
  }
}


